@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  font-family: "Inter";
  font-size: 14px;
  --gradient: #FF0000;
  --color: #FF0000;
}

@font-face {
  font-family: Poppins-Bold;
  src: url('/space-view/public/fonts/Poppins-SemiBold.ttf');
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden
}

.notifications {
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  justify-content: end;
  position: absolute;
  right: 0;
  margin: 1em;
}

.noti {
  position: relative;
  height: 0;
  transition: height 300ms ease;
  flex-shrink: 0;
  opacity: 1;
}

.noti.out {
  animation: notiOut 500ms ease forwards
}

@keyframes notiOut {
  to {
    height: 0;
  }
}

.noticard {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  isolation: isolate;
  width: 18rem;
  d-height: 8rem;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  animation: notiCardIn 500ms ease;
}

@keyframes notiCardIn {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
}

.noti.out .noticard {
  animation: notiCardOut 500ms ease forwards
}

@keyframes notiCardOut {
  to {
    opacity: 0;
    transform: scale(0.5)
  }
}

.noticard:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2
}

.noticard:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.noticard:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.5rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.noti:hover .notititle {
  transform: translateX(0.15rem)
}

.notidesc {
  color: #99999d;
  padding: 0 0.5rem 0.85rem 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.noti:hover .notidesc {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.noti:hover .notiglow {
  opacity: 0.1
}

.noti:hover .notiborderglow {
  opacity: 0.1
}

#basket {
  display: none;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em
}

#cart {
  scale: 1.6;
}

.text-container {
  display: flex;
  justify-content: center;
}

.grey-text {
  color: grey;
  display: flex;
  justify-content: center;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.grey-description {
  display: flex;
  justify-content: center;

}

#title-dscrp {
  text-align: center;
  max-width: 400px
}

#homeButton {
  border-radius: 10px;
  color: white;
  background-color: #03242f;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  font-family: Poppins-Bold;
  font-size: 1.5rem;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

main h1{
  text-align: center;
}

.headers{
  display:flex;
  gap: 15em;
  margin-top: 4em;
  justify-content:center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  color:grey;
}

.container{
display:flex;
}

.parent-container{
  display:flex;
  flex-direction: column;
}
.card{
  display:flex;
  gap: 10em;
}
.planetImage{
  height: 15em;
  width: 15em;
  margin-left:11em;
}
.checkout{
  background-color: black;
  color: white;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
}
.total{
  margin-left: 2em;
  margin-bottom: 2em;
}
.price{
  margin-left: 4em;
}
#totalContainer{
justify-content: space-between;
padding-left: 1em;
}

.card{
  border-right: 1px solid grey;
  padding-right: 11em;
  border-bottom: 1px solid grey;
  
}
