@font-face {
    font-family: helvetica-neue;
    src: url('../fonts/helvetica-neue.ttf');
}
@font-face {
    font-family: helvetica-reg;
    src: url('../fonts/HelveticaNeue-Medium.otf');
}
@font-face {
    font-family: space-mono;
    src: url('../fonts/SpaceMono-Regular.ttf');
}
body{
    overflow-x: hidden;
}

.logo{
    max-width: 100px;
}

#img-link{
    position: relative;
    top: -10px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding-left: 50px ;
    padding-right: 50px ;
    margin-bottom: 60px;
}

nav ul{
    display: flex;
    gap: 10px;
    list-style: none;

}
nav a, #history {
    color: inherit;
    text-decoration: none;
font-size: 16px;
font-weight: 600;
font-family: helvetica-neue;}


.nav-row a, #history {
    background:
      linear-gradient(
        to right,
        rgb(0, 0, 0),
        rgb(0, 0, 0)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 0px, 0 0px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }

.nav-row a:hover , #history:hover{
    background-size: 0 0px, 100% 2px;
  }

.text{
    font-family: helvetica-reg;
    font-weight: 300;
}

.bold-text{
    font-family: helvetica-neue;
}
#intro{
    text-align: center;
    font-size: 96px;
}

img{
    border-radius: 7px;
}

#img-grid-1, #img-grid-2{
opacity: 0;
transition: opacity 0.5s ease-in-out;
}

#img-grid-1.visible{
    opacity: 1;
}

#img-grid-2.visible{
    opacity: 1;
}

#definition{
text-align: right;
padding-right: 15px;
font-family: helvetica-neue;
}

#definition-wrapper{
    margin-top: 100px;
}

.custom-column{
    height: auto;
    font-family: helvetica-reg;
}
#space-definition{
    justify-content: end;
}

#space-definition-wrapper{
    margin-top: 100px;
}

  #interview .row{
    justify-content: center;
  }

  #interview h6{
    font-family: helvetica-neue;
    font-size: 20px;
  }

  #interview p{
    font-family: helvetica-reg;
  }
#card{
    border-radius: 20px;
    border: 1px solid #323232;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#card ul{
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 0;    
}

#card li{
    padding: 10px;
    border-radius: 5px;
}
#card a{
    color: #323232;
    font-family: helvetica-neue;
    text-decoration: none;
}

#card a, .news-card a {
    text-decoration: none;
font-size: 16px;
font-weight: 600;
font-family: helvetica-neue;}

#card h2{
    color: #323232;
}


#card a , .news-card a, .card-space a{
    background:
      linear-gradient(
        to right,
        rgb(0, 0, 0),
        rgb(0, 0, 0)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 0px, 0 0px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }

#card a:hover, .news-card a:hover, .card-space a:hover{
    background-size: 0 0px, 100% 2px;
  }

#card-wrapper{
    justify-content: center
}
.astro-view{
    font-family: helvetica-neue;
    animation: move-across 10s steps(30) infinite;
    color: #323232;
}

@keyframes move-across {
    0%{
        transform: translateX(-25%);
    }
    100%{
        transform: translateX(120%);
    }
}

.news-card{
    border: 1px solid #323232;
    font-family: helvetica-neue;
    padding: 15px;
    border-radius: 10px;
    transition: scale 0.25s ease-in-out;
    scale: 0.9;
}

.news-card h5{
    color: grey;
    font-size: 14px;
    margin-top: 10px;
}

.news-card h2{
    max-width: 330px;
    font-size: 24px;
}

.news-card p{
    font-size: 12px;
}

.news-card a{
    color: inherit;
}

.news-card:hover{
    scale: 1;
}

.card-space{
    padding: 10px;
    border: 1px solid #323232;
    border-radius: 10px;
}

.card-space h3{
    max-width: 300px
;

}
.card-space a{
    color: #323232;
    text-decoration: none;
}




.slide-wrap h2 {
  font-weight:700;
  font-size:22px;
  margin-bottom:15px;
}

.slide-wrap p {
  font-size:1.1em;
  line-height:1.3em;
}

.slide-wrap {
  position: relative;
    max-width:1000px;
  margin: 0 auto;
  transition:300ms;
}

.slideshow {
  position: relative;
  z-index: 10;
}

.slide-entry {
  position: absolute;
  top: 0;
  left: 0;
right: 0;
  margin:0 auto;
  text-align: center;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  padding: 20px 5%;
  transition:300ms;
&.active {
    opacity: 1;
    visibility: visible;
  }
}


.slide-nav {
  display: flex;
  justify-content: space-between;
  align-items:center;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 50%;
  transform: translateY(-60%);
  width: 100%;
  list-style: none;
  padding: 0;
  z-index: 0;
  li {
    cursor: pointer;
    color:#ccc;
    font-size:25px;
  }
}

#prev-slide {
  margin-left:-20px;
}

#next-slide {
  margin-right:-20px;
}

/* Responsive Video Embeds
========================================================= */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide-wrap h2 {
  font-weight:700;
  font-size:22px;
  margin-bottom:15px;
}

.slide-wrap p {
  font-size:1.1em;
  line-height:1.3em;
}

.slide-wrap {
  position: relative;
    max-width:1000px;
  margin: 0 auto;
  transition:300ms;
  color: #323232;
}

.slideshow {
  position: relative;
  z-index: 10;
}

.slide-entry {
  position: absolute;
  top: 0;
  left: 0;
right: 0;
  margin:0 auto;
  text-align: center;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  padding: 20px 5%;
  transition:300ms;
&.active {
    opacity: 1;
    visibility: visible;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-content img{
    width: 450px;
    height: 250px;
}
.slide-content p{
  max-width: 450px;
  font-size: 14px;
}