@font-face {
    font-family: bold-poppins;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 10px;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 10px !important;
    cursor: pointer;
    width: 40%;
    margin-left: 30% !important;
}

button:hover {
    background-color: #2980b9;
}

.passwords{
    margin-bottom: 20px;
}