@font-face {
    font-family: helvetica-neue;
    src: url('../fonts/helvetica-neue.ttf');
}
@font-face {
    font-family: helvetica-reg;
    src: url('../fonts/HelveticaNeue-Medium.otf');
}
@font-face {
    font-family: space-mono;
    src: url('../fonts/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: bold-poppins;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: medium-poppins;
    src: url('../fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: poppins;
    src: url('../fonts/poppins.regular.ttf');
}
.custom-column{
    height: 500px;
}
#title{
    font-family: bold-poppins;
    font-size: 74px;
}

#title-description{
    max-width: 350px;
    color: grey;
    font-family: medium-poppins;
}
.bold-text{
    font-family: helvetica-neue;
}
.text{
    font-family: helvetica-reg ;
}

#buyNow{
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px 24px 10px 24px

}
#buyArrow{
    background-color: gold;
    color: white;
    border-radius: 50%;
    padding: 0px  5px 3px 5px;

}

.features{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.feature-title{
    font-size: 14px;
    font-family: medium-poppins;
    display: inline-block;
}
.feature-description{
    font-family: medium-poppins;
    font-size: 12px;
    max-width: 250px;
    padding-left: 60px;
    color: grey;
}
#otherPlanets{
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet{
    -webkit-box-shadow: 0px 6px 11px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 11px -3px rgba(0,0,0,0.75);
box-shadow: 0px 6px 11px -3px rgba(0,0,0,0.75);
padding-bottom: 50px;
padding-top: 45px;
border-radius: 15px;
}
.planet img{
    width: 130px;
    height: 130px;
}

.rating{
    background-color: black;
    display: inline-flex;
    padding: 8px 15px 5px 15px;
    border-radius: 15px;
    position: relative;
    right: 60px;
    top: 40px;
    color: white;

}
.planet-card-title{
    font-family: bold-poppins;
}
.rating img{
    width: 20px;
    height: 20px;
    margin-left:5px ;
}

.planet-card-link{
    margin-left: 60px;
    text-decoration: none;
    color: grey;
    font-family: medium-poppins;
}

#venus{
    scale: 1.25;
    margin-top: 30px;
}

#mercury{
    scale: 1.5;
    margin-top: 50px;
}