@font-face {
    font-family: cascadiacode;
    src: url('../fonts/CascadiaMono.ttf');
}
@font-face {
    font-family: bal;
    src: url('../fonts/Bal-Regular.ttf');
}
@font-face {
    font-family: poppins;
    src: url('../fonts/poppins.regular.ttf');
}

@font-face {
    font-family: space-mono;
    src: url('../fonts/SpaceMono-Regular.ttf');
}
body {
    display: grid;
    place-items: center;
    background-color: rgb(14,5,10);
}

.container {
    display: grid;
    place-items: center;
    top: 80px;
}

#backward-effect {
    width: 1000px;
    height: 480px;
    background-color: rgb(255, 255, 255);
    transition: transform 1s ease-in-out, width 1s ease-in-out, height 1s ease-in-out;
    /* Added width and height transitions */
    position: absolute;
    z-index: 5;
    top: 100px;
    border-radius: 30px;
    padding: 10px;
}

#ticket-machine {
    width: 260px;
    height: 390px;
    background-image: url('../img/ticket-machine-idea.jpg');
    object-fit: contain;
    background-repeat: no-repeat;
    
    margin: 50px;
    position: absolute;
    top: 170px;
    opacity: 1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
    padding: 0%;
}

#ticket-machine::before {
    content: '';
    display: block;
    width: 100%;
    height: 20px;
}

#slot {
    width: 80px;
    height: 10px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.ticket {
    position: relative;
    width: 590px;
    height: 350px;
    background-color: blue;
    animation: moveDown 2.5s steps(11) forwards;
    opacity: 0;
    /* Initially set opacity to 0 for fade-in effect */
    transition: opacity 0.2s ease-in-out;
    border-radius: 30px;
}

@keyframes moveDown {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(950px);
    }
}
#processTicket{
    width: 212px;
    height: 175px;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 1;
    position: relative;
    left: 15px;
    padding-left: 10px;
    font-family: cascadiacode;
    font-size: 13px;
    top: -6px;
}

#titles ul, #titleData ul{
display: flex;
}
#titles, #titleData{
margin-left: 15px;
position: relative;
}

#titles h6, #titleData h6{
margin-left: 20px;
margin-right: 20px;
font-size: 18px;
font-family: poppins;
}

.passenger{
    margin-right: 250px !important;
    left: 60px;
    position: relative;
}

#passengerTitle{
    margin-right: 245px !important;
}


#titleData{
    position: relative;
top: -155px;
}
#titles{
    top: -65px
}
#titles h6{
    left: -10px;
}
#titleData h6{
    position: relative;
    top: -25px;
    left: -10px;
}


.horizontal{
    width: 585px;
    height: 1px;
    position: relative;
    top: -55px;
    background-color: black;
    left: 50px;
}


.divide{
    width: 1px;
    height: 17px;
    background-color: black;
    position: relative;
    top: 20px;
    margin-left: 9px;
}

.row{
    display:flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: -210px;
    left: 60px;
    justify-content: space-between;
    max-width: 460px;
    font-family: bal;

}

.row img{
    max-width: 60px;
    margin-left: 30px ;
    margin-right: 30px;
}

.departure, .destination{
    font-size: 170px;

}

.barcode{
    top: -180px;
    left: 65px;
    position: relative;
    max-height: 65px;
}
#warning{
 color: black;   
 position: relative;
 top: -225px;
 left: 350px;
 max-width: 340px;
 font-size: 11px;
 font-family: poppins;
 text-align: center;
}


#row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 25px;
    padding-left: 35px;
    padding-bottom: 30px;
    background-color: aqua;
    border-top-right-radius: 30px;
}

#row .destination {
    font-size: 52px !important;
    font-family: poppins;
    letter-spacing: -3px;
}

#row .departure{
    font-size: 52px !important;
    font-family: poppins;
letter-spacing: -3px;
}
#row img{
    max-width: 45px;
    margin-left: 10px ;
    margin-right: 9px;
}


.first-column{
    position: relative;
}

#side-ticket-title{
    align-items: center;
    left: 712px;
    position: relative;
    top: -645px;
    background-color: pink;
    display: inline-block;
    border-top-right-radius: 30px;
    padding-bottom: 15px;
}

#side-ticket-title img{
    margin-right: 10px;
    margin-left: 10px;
}
#short-plane{
    max-width: 45px;
    max-height: 30px;
}

#side-ticket-title #short-departure{
font-size: 56px;    
font-family: poppins;
}

#side-ticket-title #short-destination{
font-size: 56px;
font-family: poppins;
}

#side-ticket-main{
    position: relative;
    top: -646px;
    left: 712px;
    height: 392px;
    width: 298px;
}


#side-ticket-passenger{
    position: relative;
    left: 40px;
    font-family: poppins;
    top: 220px;
}

.text{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}



body{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.side-ticket-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 32px;
    padding-left: 25px;
    padding-bottom: 10px;
    justify-content: center;
}

#short-departure ,#short-destination{
letter-spacing: -3px;
}

.side-ticket-divide{
width: 1px;
height: 300px;
background-color: black;
position: relative;
}

#side-ticket-divide1{
    left: 60px;
    top: -80px;
}

#side-ticket-passenger-data{
    position: relative;
    top: -156px;
    left: 67px;
font-family: poppins ;
}

#side-ticket-flight-titles{
    position: relative;
    top: -370px;
    left: 90px;
}

#side-ticket-flight-titles ul{
    display: inline-block;

}

#side-ticket-flight-titles li{
    padding-top: 40px;
    display: flex;
    flex-direction: column-reverse;
    font-family: poppins;
}
#side-ticket-divide2{
    position: relative;
    top: -727px;
    left: 130px;
}

.divide-container{
    position: relative;
    top: -885px;
    left: 135px;
}

.side-divide{
    position: relative;
    width: 25px;
    height: 1px;
    margin-bottom: 75px;
    background-color: black;
}
#side-ticket-flight-data{
    position: relative;
    top: -975px;
    left: 125px;
}

#side-ticket-flight-data ul{
    display: inline-block;
    list-style: none;
}

#side-ticket-flight-data li{
    padding-bottom: 56px;
}


#side-ticket-main{
    background-color: aqua;
    border-bottom-right-radius: 30px;
}
#top-data{
    padding-bottom: 20px !important;
    padding-top: 20px !important
}
#middle-data{
    padding-bottom: 35px !important;
}

.data-divider{
    position: relative;
    width: 57px;
    height: 1px;
    background-color: rgb(0, 0, 0);
    margin-top:80px;
}

#divider-wrapper{
    top: -245px;
    position: relative;
    left:7px;
}

#side-ticket-barcode{
    position: relative;
    transform: rotateZ(-90deg);
    top: -1280px;
    width: 100px;
    scale: 2.5;
    left: 200px;
}

a{
    text-decoration: none;
    font-family: space-mono;
    color: white;
    transition: scale 0.15s ease-in-out;
    
}

a:hover{
    scale: 1.25;
}